*{
  border: 1px transparent solid;
  font-family: 'monaco',  monospace; 
}
.nav{
  background-color: #E3C7B1; 
  padding: 20px 40px; 
  position: fixed; 
  top: 0; left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-sizing: border-box;
  transition: 1s ease color;
}
.nav a:hover{
  transform: scale(1.2);
  font-style: italic;
  text-decoration: none;
  color:#849483;
}
.navlogo{
    width:fit-content;
    float:left;
}
.logo{ 
  height: 100px; 
  width:fit-content;
  transition: 1s ease;
}
.nav .navlogo img:hover{
  transform:rotate(-20deg);
}
.navlinks{
    display:flex;
    float:right;
    position:relative;
    right:170px;
    top:35px;
    justify-content: center;
    gap:60px; 
}
.links{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.happy{ 
    float:right;
    position:relative;
    left:310px;
    height:100px; 
    width:100px;
}
h1{
    position: relative;
    top: 150px;
}
#crumbs{
  display:inline;
  position:absolute;
  top:100px;
  right:1px;
  margin: 50px;
  font-size:18px;
  font-weight:bold;
  width:25%;
}
#crumbs a{
  color:rgba(255, 255, 255, 0.866);
  text-decoration: none;
  transition: 0.5s ease;
}
#crumbs a:hover{
  text-decoration: underline;
  font-style: italic;
}
#bg{ 
  width:100%;
  height:100%;
  object-fit: cover;
  display:block;
  position:relative;
  top:140px;
  
}
h1{
    font-size: 100px;
    color:rgb(244, 233, 187);
    position:absolute;
    top:500px;
    left:25%;
    text-shadow: 2px 2px 5px maroon; 
}
article{
  margin-top:50px;
}
.art{
  width:60%;
  text-align: justify;
  position:relative;
  top:150px;
  left:30px;
  font-size:24px;
}
#write{
  float:right;
  width:30%;
  margin-right:50px;
  position:relative;
  bottom:450px;
  border-radius: 10px;
}
p:nth-of-type(even){
  color:brown;
}
#section2{
  position: absolute;
  top:1900px;
  width:100%;
}
h2, .ex{
  text-align: center;
  margin:0 auto;  
  margin-bottom: 30px;
  font-size:20px;
}
.ex{
  width:40%;
}
#group{
  float:right;
  width:380px;
  margin-right:20px;
  position:relative;
  bottom:550px;
  border-radius: 10px;
}
#group2{
  float:left;
  width:380px;
  margin-left:20px;
  position:relative;
  bottom:550px;
  border-radius: 10px;
}
span:hover{
  background-color: cadetblue;
}
#resource{
  background-color: #ccb3a1;
  color: #452a07;
  width:100%;
  position:relative;
  top:240px; 
  display:flex;
  align-items:normal;
}
.res{
  float:right;
}
#logosum{
  margin: 50px 230px 0px 150px;
}
#logo2{
  width:40%;
}
#descsum{
  width:300px;
}
#socials li {
  margin:0px;
  list-style: none;
}
#socials li a {
  display: block;
  width: 64px;    
  height: 64px;   
  overflow: hidden;
  position:relative;
}
#fb a {
  background: url('icons.png') no-repeat -118px -15px;
  background-size: 300px 282px; 
}

#ig a {
  background: url('icons.png') no-repeat -18px -15px;
  background-size: 300px 282px;
  position:relative;
  left:100px;
  bottom:67px;
}

