*{
  border: 1px transparent solid;
  font-family: 'monaco',  monospace; /* Changes font for entire page */
}
.nav{ /* Navigation bar styling */
  background-color: #E3C7B1; 
  padding: 20px 40px; 
  position: fixed; 
  top: 0; left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-sizing: border-box;
  transition: 1s ease color;
}
.nav a:hover{
  font-style: italic;
  transform: scale(1.2);
  text-decoration: none;
  color:#849483;
}
.navlogo{
    width:fit-content;
    float:left;
}
.logo{ 
  height: 100px; 
  width:fit-content;
  transition: 1s ease;
}
.nav .navlogo img:hover{
  transform:rotate(-20deg);
}
.navlinks{ /* Navigation links container and positioning */
    display:flex;
    float:right;
    position:relative;
    right:170px;
    top:35px;
    justify-content: center;
    gap:60px; 
}
.links{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.happy{ 
    float:right;
    position:relative;
    left:310px;
    height:100px; 
    width:100px;
}
#main{ /* Main content container and size format*/
  width:100%;
  height:100%;
  object-fit: cover;
  display:block;
}
.center{
  float:right;
}
.maintext{
  width:100%;
}
#center{
  width:25%;
  float:right;
  position:relative;
  right:50px;
  top:12px;
}
.pos{ /*main heading (title) positioning*/
  position: absolute;
  top: 170px;
  left: 65px;
  width: 20%;
  background-color: #ccb3a1;
  padding:10px;
  border-radius: 10px;
}
#short{ /* short description box styling */
  width: 100%; 
  text-align: justify;
  border: 2px #ccb3a1;
  color:#452a07;
}
.partition{ /* illustration for scrolling down */
  width:80%;
  display:flex;
  color: beige;
  position:relative;
  bottom:100px;
}
#arrow{
  width:8%;
  margin-left:40px;
  position:relative;
  bottom:60px;
}
#small{
  float:right;
  margin-left:10px;
  font-size: 20px;
  position:relative;
  bottom:30px;
  right:10px;
}
.second{ /* second section styling */
  color:#e6e8d3;
  background-color: #452a07;
  position:relative;
  bottom:100px; 
  display:flex;
  align-items: flex-start;
  gap: 5px;
}
#define{ /*right-positioned description for second section*/
  text-align: justify;
  font-style: sans-serif;
  font-size: 25px;
  width: 370px;
  margin-left: 80px;
  margin-bottom: 3px;
}
#define2{ /*right-positioned description (subtext) for second section*/
  width: 370px;
  text-align: justify;
  margin-left: 80px;
}
.bullet{ /*positioning for bullet points*/
  float:right;
  position: relative;
  top:20px;
  left:50px;
}
.highlight{
  background-color: #E3C7B1;
  color: #452a07;
  width:200px;
  height:fit-content;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius:10px;
  margin:10px;
  text-align:left;
  position: relative;
  left:130px;
  bottom:10px;
  padding: 1px 3px;
  display: flex;
}
#child1{
  float:right;
  width:380px;
  position:relative;
  left:350px;
  top:12px;
}
.image{
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  position: absolute;
  top: 13px;
  right: 10px;
}
#head1{
  text-align: center;
  width: fit-content;
  color: brown;
  position:relative;
  bottom:110px;
  left:600px;
  padding: 5px;
  margin:15px;
  text-shadow:5px 5px 4px #ccb3a1
}
.third{
  color:#e6e8d3;
  background-color: #452a07;
  position:relative;
  bottom:100px; 
  display:flex;
  align-items:normal;
  gap: 5px;
}
#child2{
  float:right;
  width:900px;
}
#desc1{
  margin:0px 5px;
  text-align: justify;
  font-size: 20px;
}
.fourth{
  padding:5px;
}
#child3{
  position:relative;
  bottom:95px;
  right:5px;
  width:100%;
  height:50%;
  border-color:#755b44;
  border-width:5px;
  border-radius: 3px;
}
.text-block{
  width:500px;
  background-color:#452a07;
  color:#e6e8d3;
  padding:10px;
  border-radius: 10px;
  position:relative;
  bottom: 600px;
  left:50px;
}
.fifth{
  background-color: #452a07; 
  position:relative;
  bottom:455px;
  display:flex;
}
h2{
  color:white;
  text-align: center;
}
table {
  float:right;
  border-collapse: collapse;
  width: 500px;
  margin-right:90px;
  margin-bottom:20px;

}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: white;}
tr:nth-child(odd){background-color:beige;}
tr:hover {background-color: gray;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#755b44;
  color: white;
}
.p1{
  float:left;
  color:#e6e8d3;
  margin: 25px;
  font-size:20px;
  text-align: justify;
  width:53%;
  position:relative;
  top:35px;
}
#last{
  width:100%;
  text-align: center;
  font-size: 20px;
  position:relative;
  bottom:450px;
}
.head2{
  margin-left:20px;
}
#resource{
  background-color: #ccb3a1;
  color: #452a07;
  width:100%;
  position:relative;
  bottom:440px;
  display:flex;
  align-items:normal;
}
.res{
  float:right;
}
#logosum{
  margin: 50px 230px 0px 150px;
}
#logo2{
  width:40%;
}
#descsum{
  width:300px;
}
#socials li {
  margin:0px;
  list-style: none;
}
#socials li a {
  display: block;
  width: 64px;    
  height: 64px;   
  overflow: hidden;
  position:relative;
}
#fb a {
  background: url('icons.png') no-repeat -118px -15px;
  background-size: 300px 282px; 
}

#ig a {
  background: url('icons.png') no-repeat -18px -15px;
  background-size: 300px 282px;
  position:relative;
  left:100px;
  bottom:67px;
}



